.match {
  color: black;
  min-width: 600px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}
.date {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: left;
  color: white;
}
.matchTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}
.matchTable th,
.matchTable td {
  border: 0.5px solid lightgrey;
  padding: 20px 10px;
  text-align: center;
}

.matchTable th {
  background-color: rgb(241, 241, 241);
  font-weight: 500;
}

.matchTable td {
  background-color: white;
}

.boldRow {
  font-weight: bold;
}

.pendingButtons {
  text-align: right;
}
.confirmButton {
  font-size: 15px;
  width: 100px;
  margin-top: 1rem;
  margin-right: 10px;
  background-color: #4b940b;
  border-color: #3f8600;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}
.denyButton {
  font-size: 15px;
  width: 100px;
  margin-top: 1rem;
  background-color: rgb(172, 19, 19);
  border-color: rgb(172, 19, 19);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}
.confirmButton:hover,
.denyButton:hover {
  cursor: pointer;
}
.pendingMessage {
  text-align: right;
  font-size: 16px;
  color: white;
  margin: 1rem 0;
}
.playerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
  .match {
    min-width: 400px;
    padding: 5px;
    margin: 10px;
  }

  .date {
    font-size: 12px;
  }
  .matchTable th,
  .matchTable td {
    padding: 15px 5px;
  }
  .profileImage {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 475px) {
  .match {
    min-width: 320px;
  }
}
