.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.players {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select {
  width: 300px;
  padding: 5px;
  margin: 2rem 0;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  color: black;
  appearance: none;
  -webkit-appearance: none;
}
.image {
  min-height: 400px;
  margin-top: 20px;
  text-align: center;
}
.profileImage {
  border-radius: 50%;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .players {
    padding: 0 25px;
  }
  .image {
    min-height: 300px;
  }
  .select {
    width: 250px;
  }
  .profileImage {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 640px) {
  .image {
    min-height: 200px;
  }
  .select {
    width: 150px;
  }
  .profileImage {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 475px) {
  .players {
    padding: 0 10px;
  }
}
