.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.players {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customSelect {
  width: 300px;
  position: relative;
}

.customSelect select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.customSelect::before,
.customSelect::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.customSelect::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.customSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.image {
  min-height: 400px;
  margin-top: 20px;
  text-align: center;
}
.profileImage {
  border-radius: 50%;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .customSelect {
    width: 220px;
  }
}
@media (max-width: 768px) {
  .customSelect {
    width: 200px;
  }
  .players {
    padding: 0 25px;
  }
  .image {
    min-height: 300px;
  }
  .select {
    width: 250px;
  }
  .profileImage {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 640px) {
  .customSelect {
    width: 180px;
  }
  .image {
    min-height: 200px;
  }
  .select {
    width: 150px;
  }
  .profileImage {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 475px) {
  .customSelect {
    width: 150px;
  }
  .players {
    padding: 0 10px;
  }
}
