.container {
  width: 30%;
  text-align: center;
  background-color: white;
  min-height: 700px;
  border-radius: 10px;
}

.notice {
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    min-height: 500px;
  }
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
}
