.newGame {
  width: 200px;
  border-radius: 5px;
  background-color: #4b940b;
  border-color: #3f8600;
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
}
.newGame:hover {
  cursor: pointer;
}
.newMatchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newMatchForm h2 {
  align-self: center;
}
.newMatchForm button {
  background-color: #4b940b;
  border-color: #3f8600;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 2rem;
}
.newMatchForm button:hover {
  cursor: pointer;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
}
