.newGame {
  width: 200px;
  background-color: #4b940b !important;
  border-color: #3f8600 !important;
  color: white !important;
}
.newMatchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newMatchForm h2 {
  align-self: center;
}

.submit {
  align-self: center;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
}
