.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  min-width: 80px;
  padding: 5px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  color: #4b940b !important;
}
.link:hover {
  color: #4b940b;
}
.messageLink {
  min-width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop {
  display: none;
}

.dropdown {
  display: none;
  cursor: pointer;
}

.badge {
  position: relative;
  display: inline-block;
}

.countBadge {
  content: "";
  position: absolute;
  top: -5px;
  right: -10px;
  width: 15px;
  height: 15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWithBadge {
  position: relative;
}

.badgeDot {
  content: "";
  position: absolute;
  top: -2.5px;
  right: -2.5px;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

.signout {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  min-width: 80px;
  padding: 5px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .drop {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .dropdown {
    display: flex;
    align-items: center;
  }
  .links {
    display: none;
  }
  .count {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
}
