* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(131, 131, 131);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
