* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1a4d2e;
}

body {
  background-color: #1a4d2e;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea {
  font-size: 16px;
}

.container {
  max-width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}
