.main {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #1a4d2e;
  z-index: 1000;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 15px solid white;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}
.mark {
  background-color: white;
  width: 15px;
  height: 20px;
  align-self: center;
}
