.main {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #1a4d2e;
  z-index: 1000;
  padding-top: env(safe-area-inset-top);
}

.main::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: env(safe-area-inset-top);
  background-color: #1a4d2e;
  z-index: 1001;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 15px solid white;
}

@media (max-width: 640px) {
  .container {
    height: 80px;
  }
}

@media (max-width: 475px) {
  .container {
    height: 70px;
  }
}

.logo {
  font-size: 30px;
  font-weight: bold;
}
.mark {
  background-color: white;
  width: 15px;
  height: 20px;
  align-self: center;
}
