.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .container {
    gap: 1.5rem;
  }
}

@media (max-width: 475px) {
  .container {
    gap: 1rem;
  }
}
