.container {
  width: 100%;
  border: 1px solid lightgray;
  padding: 1.5rem 2rem;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}
.container.selected {
  background-color: lightgray;
}
.container:hover {
  background-color: lightgray;
}
.profileImage {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name {
  font-size: 16px;
}

.date {
  font-size: 12px;
}

.message {
  text-align: left;
  font-size: 14px;
}
