.container {
  width: 100%;
  border: 1px solid lightgray;
  padding: 1rem;
  display: flex;
  gap: 10px;
  height: 100px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  border-bottom: 1px solid lightgray;
}
.container.selected {
  background-color: lightgray;
}
.container:hover {
  background-color: lightgray;
  border-radius: 10px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImage {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name {
  font-size: 16px;
}

.date {
  font-size: 12px;
}

.message {
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .profileImage {
    width: 2.5rem;
    height: 2.5rem;
  }
  .name {
    font-size: 12px;
  }

  .date {
    font-size: 10px;
  }
  .message {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .profileImage {
    width: 3rem;
    height: 3rem;
  }
  .name {
    font-size: 16px;
  }

  .date {
    font-size: 12px;
  }
  .message {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
}
